@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F1F1F;
}

body {
  background: var(--background);
}

@layer base {
  body {
    font-family: var(--font-nunito-sans), sans-serif;
  }
}